<div class="container">
  <div class="text-center mb-3 p-3" style="background-color: rgb(178, 239, 239);"> <b> Content Projection Example</b></div>
    <div class="row">
      <div class="col-md-4">
        <app-course>
          <h5 class="card-title">Angular</h5>
          <a href="#" class="btn btn-primary">Register Angular Course</a>
        </app-course>
      </div>
      <div class="col-md-4">
        <app-course>
          <h5 class="card-title">Node js</h5>
          <a href="#" class="btn btn-primary">Register Node js Course</a>
        </app-course>
      </div>
      <div class="col-md-4">
        <app-course>
          <h5 class="card-title">Java</h5>
          <a href="#" class="btn btn-primary">Register Java Course</a>
        </app-course>
      </div>
    </div>
</div>